.NavbarItems {
    background: linear-gradient(90deg, rgba(110, 94, 254) 0%, rgb(168, 104, 194) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo {
    color: #fff;
    justify-content: start;
    margin-left: 20px;
    cursor: pointer;
}

.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    color: #000000;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: #6d76f7;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

/* .fa-bars {
    color: #fff;
} */

/* .nav-links-mobile {
    display: none;
} */

.menu-icon {
    display: none;
}

.nav-links-mobile {
    /* display: block; */
    text-align: center;
    padding: 0.5rem 1rem;
    margin: 3rem auto;
    border-radius: 4px;
    width: 80%;
    background: #ffffff;
    text-decoration: none;
    /* color: #6d76f7; */
    color: #000000;
    font-size: 1rem;
}

.nav-links-mobile:hover {
    background: #adb6ff;
    /* color: #6568f4; */
    color: #000000;
    transition: 250ms;
}

.mymt13{
    margin-top: 1.3rem;
}
.mymt1{
    margin-top: 1rem;
}
.myml{
    margin-left: 3rem
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #6668f4;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    
    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display:table;
    }

    .nav-links:hover {
        background-color: #ffffff;
    }
    
    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    
    .fa-times {
        color: #fff;
        font-size: 2rem;
    }



    /* button {
        display: none;
    } */
}


nav {
    display : flex;
    align-items: center;
    justify-content: space-between;
    background: #1b2430;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;
}

#navbar li a:hover, 
#navbar li a.active {
    color: #17cf97;
    
}

#navbar li a:hover::after,
#navbar li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #17cf97;
    position: absolute;
    bottom: -4px;
    left: 20px;
}