.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500 px;
  background-color: rgb(0, 0, 0);
}

.banner img {
  height: 100%;
  object-fit: cover;
}

.banner-content {
  text-align: center;
  color: #ffffff;
}

.banner-content h1 {
  font-size: 3rem;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content p {
  font-size: 1.5rem;
  margin-top: 0;
}

.mymb {
  margin-bottom: 50px;
  /* margin-top: 50px; */
}

.about-me {
  /* display: flex; */
  background: linear-gradient(90deg, rgba(110, 94, 254) 0%, rgb(168, 104, 194) 100%);
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000000;
  padding:2rem;
  /* max-width: 1000px; */
  /* position: fixed; */
  /* top: 20%; */
  /* left: 23.5%; */
  /* margin-top: -50px; */
  /* margin-left: -100px; */
}