.mymt50 {
    margin-top: 50px;
}

.mymt80 {
    margin-top: 80px;
}

.mymb20 {
    margin-bottom: 20px;
}

.mymt10 {
    margin-top: 10px;
}

.mymt20 {
    margin-top: 20px;
}

.mycenter {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.mybackbtn {
    /* margin-top: 50px;
    margin-left: 200px; */
    margin-top: 2%;
    /* margin-left: 10.5%; */
    display: flex;
}

.myrightbtn {
    /* margin-top: 50px;
    margin-left: 200px; */
    margin-top: 2%;
    /* margin-right: 9.5%; */
    display: flex;
}

.bgsocial {
    background-image: url('../public/social-banner.png');

    height: 40vh;
    width: 100vw;
    /* height: 100%; */
    margin-top: 0px;
    font-size: 64px;
    /* background-repeat:no-repeat;
    background-size: "cover"; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* max-width: 100%; */
    /* opacity: 0.5; */
    text-align: center;
    vertical-align: middle;

    color: black;
    font-size: 64px;
}

.bgstreaming {
    background-image: url('../public/streaming-banner.png');

    height: 40vh;
    width: 100vw;
    /* height: 100%; */
    margin-top: 0px;
    font-size: 64px;
    /* background-repeat:no-repeat;
    background-size: "cover"; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* max-width: 100%; */
    /* opacity: 0.5; */
    text-align: center;
    vertical-align: middle;

    color: black;
    font-size: 64px;
}

.bggaming {
    background-image: url('../public/gaming-banner.png');

    height: 40vh;
    width: 100vw;
    /* height: 100%; */
    margin-top: 0px;
    font-size: 64px;
    /* background-repeat:no-repeat;
    background-size: "cover"; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* max-width: 100%; */
    /* opacity: 0.5; */
    text-align: center;
    vertical-align: middle;

    color: black;
    font-size: 64px;
}

.bgeducation {
    background-image: url('../public/education-banner.png');

    height: 40vh;
    width: 100vw;
    /* height: 100%; */
    margin-top: 0px;
    font-size: 64px;
    /* background-repeat:no-repeat;
    background-size: "cover"; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* max-width: 100%; */
    /* opacity: 0.5; */
    text-align: center;
    vertical-align: middle;

    color: black;
    font-size: 64px;
}